//--------------------------------------
// 			PATRON DE COLORES
//--------------------------------------
$principal:#446EF2;
$secundario:#00FF79;
$texto:rgb(255, 255, 255);

/*------------------------------
1. TIPOGRAFIA DEL SITIO
--------------------------------*/
html {
    font-size: 14px;
}

body {
    color: $texto;
    font-family: 'Open Sans', sans-serif;
}

/*------------------------------
2. ESTILOS GENERALES
--------------------------------*/
.bg-primary {
    background-color: $principal !important;
}

section {
    margin: 0;
}

.texto-encabezado {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

/*------------------------------
3. INICIO
--------------------------------*/
#inicio {

    /*----Barra de navegacion----*/
    .navbar-fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .menu-pleca {
        background-image: url(../images/svg/menu-pleca-mobile.svg);
        background-size: cover;

        /*Estilos al logotipo del sitio*/
        .logo {
            width: 14rem;
            height: auto;
        }
    }

    /*Estilos para los enlaces del menu*/
    .navbar-dark .navbar-nav .nav-link {
        background-image: url(../images/backgroundsMobile/menu-background.jpg);
        background-size: cover;
        text-transform: uppercase;
        margin-right: 1.2rem;
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        color: $principal;
        padding: .8rem;

        img {
            width: 8.8rem;
        }

        &.active {
            color: $secundario;
        }
    }

    /*Boton del menu */
    .boton-menu:before {
        content: "\f142";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $secundario;
        font-size: 3rem;

        &:focus,
        &:active {
            outline: none;
        }

    }

    .icono-cerrar:before {
        content: "\f00d";
        position: relative;
        left: .2rem;
        font-size: 3rem;
    }

    /*Banner de la pagina*/
    background-image: url(../images/backgroundsMobile/home-background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    display:flex;
    flex-direction:column;

    .flecha-bajar {
        display: flex;
        justify-content: center;

        a {
            width: 1.8rem;
            padding-bottom: 1rem;
            animation: flecha-animada 2s ease-in-out infinite;
        }
    }

    @keyframes flecha-animada {
        from {
            transform: translateY(0);
        }

        50% {
            transform: translateY(6px);
        }

        to {
            transform: translateY(0);
        }
    }

}

/*------------------------------
4. NOSOTROS
--------------------------------*/
#nosotros {
    background-image: url(../images/backgrounds/geprotec-nosotros.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    span {
        color: $secundario;
        font-weight: 700;
    }

}

/*------------------------------
5. SERVICIOS
--------------------------------*/
#servicios {
    background-image: url(../images/backgrounds/geprotec-servicios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    text-align: center;

    img {
        width: 7.5rem;
        margin: .9rem 0;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: .9rem;
    }

    p,
    ul {
        text-align: left;
    }
}

/*------------------------------
6. CONTACTO
--------------------------------*/
#contacto {
    background-image: url(../images/backgroundsMobile/contacto-background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;

    /*Estilos para el formulario*/
    .col-12 .col-md-6 {
        &:focus {
            outline: none;
        }
    }

    .form-group {
        display: flex;
        justify-content: center;
    }

    .form-control {
        background-color: transparent;
        border: 1px solid $principal;
        border-radius: 1.5rem;
        color: white;
    }

    ::placeholder {
        font-family: "Rounded Mplus 1c Light" !important;
        color: rgba(white, .9);
        padding: .3rem .2rem;
        font-size: 1rem;
    }

    input[type=text],
    input[type=email] {
        color: white;
    }

    /*Estilos para el botón*/
    .btn {
        font-weight: bold;
        padding: .4rem 2rem;
        border-radius: 1rem;
        text-transform: uppercase;
        font-size: .8rem;
    }

    .btn-primary {
        background-color: $secundario;
        color: darken($principal, 30%);
        border-color: transparent;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: all .6s ease;

        &:active,
        &:hover {
            background-color: white;
            color: darken($principal, 60%);
        }

        &:focus {
            border-color: transparent;
            box-shadow: none;
        }

        &:hover{
            &::before {
                width: 130%;
                left: -15%;
            }
        }

        /*Efecto de la caja desplazada en el boton*/
        &:before {
            content: '';
            width: 0px;
            height: 100%;
            background-color: white;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: -1;
            transform: skew(-45deg, 0);
            transition: all .4s ease;
        }
       
    }

    .footer {
        margin-top: 4rem;
        text-align: center;
        font-size: .7rem;

        img {
            width: 1.2rem;
            height: 1.2rem;
            margin-right: .3rem;
        }

        span {
            font-weight: bold;
        }
    }
}

/* =============================================
X. Show de las Medias Queries
============================================= */
/* --------------Vista sm ------------- */
@media (min-width: 576px) {
    #inicio {
        /*Banner de la pagina*/
        background-image: url(../images/backgrounds/geprotec-inicio.jpg);
    }
}

/* --------------Vista Md ------------- */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    #inicio {

        .menu-pleca {
            background-image: url(../images/svg/menu-pleca-desktop.svg);
        }

        .navbar-dark .navbar-nav .nav-link {
            font-size: 1.3rem;
        }

        /*Fondo de imagen para el banner*/
        &:before {
            content: '';
            background-image: url(../images/backgrounds/wave-home.png);
            background-position: top center;
            position: absolute;
            top: 40%;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    #nosotros {
        &:before {
            content: '';
            background-image: url(../images/backgrounds/wave-home.png);
            background-position: bottom center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: -12.5%;
            left: 0;
        }
    }

    #contacto {
        background-image: url(../images/backgrounds/geprotec-contacto.jpg);
    }


    #servicios {
        .borde {
            border-right: 1px solid $principal;
        }
    }
}

/* --------------Vista Lg ------------- */
@media (min-width: 992px) {
    #inicio {

        /*Estilos para los enlaces del menu*/
        .navbar-dark .navbar-nav .nav-link {
            background: transparent;
            font-size: .9rem;
            padding: 0;
        }

        #menu-principal ul li {
            display: flex;
            align-items: center;
        }

        #servicios {
            .borde:last-child {
                border-right: none;
            }
        }
    }
}

/* --------------Vista Xl ------------- */
@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}